$font-family-base: georgia,times new roman, solaimanlipi, sans-serif;
$h1-font-size: 2rem;
$body-bg: rgb(255, 255, 255);
$primary-color: rgb(69, 50, 103);
$dimWhite: rgb(234, 234, 234);
$body-bg: rgb(255, 255, 255);
$body-bg2: rgb(0, 33, 60);
$body-bg3: rgb(0, 19, 35);





// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/nav";



.header-notice {
    min-height: 3px;
    background: #C5DEE2;
}
header {
    background-color: $primary-color;
    
}
.header-top {
    padding: 10px 0;
}
.app-branding {
    a {
        img {
            background-color: $body-bg;
            padding: 5px;
            border-radius: 5px;
        }
    }
}
.app-info {
    font-size: 14px;
    margin-left: 10px;
    color: $dimWhite;
    h1, p {
        margin-bottom: 0;
        font-weight: normal;
    }
}


.app-contact {
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
        float: right;
        clear: both;
        li {
            list-style-type: none;
            font-size: 14px;
            display: inline-block;
            color: $dimWhite;
            margin-left: 18px;
            a {
                text-decoration: none;
            }
        }
    }
    .app-contact-social {
        ul li a i {
            color: rgb(255, 255, 255);
            background: rgb(49, 35, 77);
            display: inline-block;
            text-align: center;
            width: 25px;
            height: 25px;
            line-height: 27px;
            border-radius: 50%;
            font-size: 14px;
            margin: 0;
            transition: border-radius 0.3s ease;

            &:hover {
                border-radius: 5px;
            }
        }
    }
    .app-calltoaction {
        float: right;
        clear: both;
        a {
            text-decoration: none;
            display: inline-block;
            background: $body-bg2;
            border-radius: 15px;
            width: 100px;
            text-align: center;
            color: #fff;
            line-height: 25px;
            margin: 8px 0 0 18px;
            transition: border-radius 0.3s ease;

            &:hover {
                border-radius: 0;
            }
        }
    }
    
}

.app-nav {
    background-color: #4f3a77;
    border: 1px solid #5b4388;
    padding: 0;

    .navbar-nav {
        .nav-link {
            color: $dimWhite;
            border-right: 1px solid #5b4388;
            text-transform: uppercase;
            font-size: 14px;
            padding: 10px 15px;
            

            &:hover {
                color: $body-bg;
            }
        }
    }
}


footer {
    margin-top: 25px;
    .site-copyright {
        background-color: $body-bg3;
        padding: 15px 0;
        p {
            margin: 0;
            color: $dimWhite;
            padding: 0 5% 0 5%;
            font-size: 14px;
        }
    }
}